#filesList {
    width: 100%;
    height: 150px;
    border-top: hidden;
}

#dropFilesArea {
    width: 350px;
}

#dropFilesArea.highlight form * {
    background-color: blueviolet;
}

.list-group-items {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.list-group-items > p {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteFileButton {
    width: 30px;
    height: 30px;
}

#header {
    text-align: center;
}

#fileInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#buttons {
    margin: 10px;
}
