#header {
    text-align: center;
    margin-bottom: 30px;
}

#selectLanguage {
    margin-bottom: 10px;
}

#menu {
    display: flex;
    justify-content: center;
}

#dropFilesArea {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#insertFilesWrapper {
    text-align: center;
    border: 2px dashed gray;
    padding: 5px;
}

#insertFilesWrapper.highlight {
    border: 2px solid gray;
}

#insertFilesWrapper.highlight * {
    opacity: 0.5;
}

#fileInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#selectFilesButton {
    width:150px;
    text-align: center;
}

#selectFilesButton label {
    cursor: pointer;
}

#dropFiles {
    text-align: center;
}

#filesList {
    width: 100%;
    height: 350px;
    border-top: hidden;
    overflow-y: auto;
}

.list-group-item {
    width: 100%;
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 5px !important;
    cursor: move;
}

.list-group-item > p {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.deleteFileButton {
    width: 30px;
    height: 30px;
}

.placeholderPdf {
    background-color: rgb(45, 202, 45) !important;
}

.dragPreview {
    opacity: 0 !important;
}

#buttons {
    margin: 10px;
    text-align: center;
}
