#insertFilesWrapper {
    text-align: center;
}

#selectFilesButton {
    width:100px;
    text-align: center;
}

#filesList {
    width: 100%;
    height: 150px;
    border-top: hidden;
    overflow-y: auto;
}

#dropFilesArea {
    width: 400px;
}

#dropFilesArea.highlight form * {
    background-color: blueviolet;
}

.list-group-item {
    width: 100%;
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 !important;
    cursor: move;
}

.list-group-item > p {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.placeholderPdf {
    background-color: green !important;
}

.dragPreview {
    opacity: 0 !important;
}

.deleteFileButton {
    width: 30px;
    height: 30px;
}

#header {
    text-align: center;
}

#fileInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#dropFiles {
    text-align: center;
}

#dropFiles.hide {
    display: none;
}

#buttons {
    margin: 10px;
}
